CORTEX_TEAM_ID=
CORTEX_APP_BUNDLE_ID=com.seudominio.cortex
CORTEX_WIDGET_BUNDLE_ID=com.seudominio.cortex.widget
CORTEX_APP_GROUP=group.com.seudominio.cortex
CORTEX_APP_PROFILE=
CORTEX_WIDGET_PROFILE=
