<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CortexAppGroup</key>
	<string>$(CORTEX_APP_GROUP)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>pt_BR</string>
	<key>CFBundleDisplayName</key>
	<string>Córtex</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.seudominio.cortex</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cortex</string>
			</array>
		</dict>
	</array>
	<key>NSHealthShareUsageDescription</key>
	<string>O Córtex usa dados de atividade, sono e frequência cardíaca para exibir métricas opcionais e verificar marcos escolhidos por você.</string>
	<key>NSMotionUsageDescription</key>
	<string>O Córtex usa movimento do aparelho durante o protocolo de emergência para confirmar uma breve atividade física.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>O Face ID pode ser usado opcionalmente para confirmar seu compromisso pessoal.</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
		<key>UIImageName</key>
		<string>LaunchMark</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
	</dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>CortexIcon20x20</string>
				<string>CortexIcon29x29</string>
				<string>CortexIcon40x40</string>
				<string>CortexIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>CortexAppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIconFiles</key>
	<array>
		<string>CortexIcon20x20</string>
		<string>CortexIcon29x29</string>
		<string>CortexIcon40x40</string>
		<string>CortexIcon60x60</string>
	</array>
	<key>CFBundleIconName</key>
	<string>CortexAppIcon</string>
</dict>
</plist>
